* {
	padding: 0%;
	margin: 0%;
}

body {
	background-color: rgb(209, 202, 245);
}
h1,
h2 {
	text-align: center;
	margin: 5%;
}

header {
	display: flex;
	flex-direction: column;
}
li {
	list-style-type: none;
	text-align: center;
}

.the-information {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 85%;
	margin: 5%;
	justify-content: space-between;
}

#box-color {
	background-color: rgba(110, 106, 108, 0.7);
	padding: 5%;
	border-radius: 100px;
}

#align-center {
	margin: 2% auto;
	align-items: center;
	text-align: center;
}

a {
	text-decoration: none;
	margin: 5%;
	color: rgb(14, 14, 14);
}

.errormessage {
	border: 4px solid rgb(116, 112, 112);
	background-color: rgba(211, 30, 30, 0.8);
}

.index-image {
	width: 500px;
	height: auto;
}

/* Details html */

.detail-information {
	display: flex;
	flex-direction: column;
	margin: 5%;
	align-items: center;
}

/* Contact-form */

.flex-box {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 10% auto;
	padding: 5%;
	background-color: rgba(110, 106, 108, 0.7);
	max-width: 50%;
	border-radius: 100px;
}

#name,
#subject,
#email,
#address,
#submit {
	display: block;
	margin: 4% auto;
	padding: 2%;
	width: 70%;
}

label {
	font-size: 20px;
}

.form-error {
	display: none;
	width: 50%;
	margin: 2% auto;
	text-align: center;
	color: rgba(109, 6, 6, 0.8);
}
